.classpath
.project
.settings/
bin/
build/
.gradle/
eclipse/logs/
eclipse/crash-reports/
eclipse/config/
eclipse/assets/PlayerQuest/
eclipse/crash-reports/
eclipse/ModCrash/
eclipse/.metadata/
eclipse/mods/
eclipse/saves/
eclipse/screenshots/
eclipse/world/
eclipse/banned-ips.json
eclipse/banned-players.json
eclipse/ops.json
eclipse/server.properties
eclipse/usercache.json
eclipse/usernamecache.json
eclipse/whitelist.json
eclipse/resourcepacks/